<head>
  <title>Convert GitHub Issue to Pull Request</title>
</head>

<body>
  {{> content}}
</body>

<template name="content">
  <div class="container">
    {{#unless currentUser}}
      {{> loginButtons}}
    {{else}}
      {{> loginButtons}}
      {{> issue_to_pr}}
    {{/unless}}
  </div>
</template>

<template name="issue_to_pr">
  <form role="form">
    <input type="text" id="user" placeholder="User">
    <input type="text" id="repo" placeholder="Repo">
    <input type="text" id="issue-number" placeholder="Issue number">
    <input type="text" id="base" placeholder="Base branch">
    <input type="text" id="head" placeholder="Head branch">
    <button type="button" class="btn btn-success" id="convert">
      Convert
    </button>
  </form>
</template>
