<head>
  <title>Convert GitHub Issue to Pull Request</title>
</head>

<body>
  {{> content}}
</body>

<template name="content">
  {{#unless currentUser}}
    {{> loginButtons}}
  {{else}}
    {{> loginButtons}}
    {{> issue_to_pr}}
  {{/unless}}
</template>

<template name="issue_to_pr">
  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="issue-url">Issue URL</label>
      <div class="controls">
        <input type="text" id="issue-url" class="input-xxlarge">
        <span class="help-block">
          Example: https://github.com/SkysourceRepo/ER-Bonus-System/issues/777
        </span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="base">Base Branch</label>
      <div class="controls">
        <input type="text" id="base" class="input-xxlarge">
        <span class="help-block">
          Example: master
        </span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="head">Head Branch</label>
      <div class="controls">
        <input type="text" id="head" class="input-xxlarge">
        <span class="help-block">
          Example: master-hotfix
        </span>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <button type="button" class="btn btn-success" id="convert">
          Convert
        </button>
      </div>
    </div>
  </form>
</template>
